@use "../utils" as *;

.bb-page-header {
  &__area {
    margin: 2em 10em 0;
    border-radius: 30px;
  }

  &__inner {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;

    @media #{$sm} {
      margin-top: 60px;
      padding: 0;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
      font-size: 1.5rem;
      padding: 5px;
      color: $primaryTextColor;

      @media #{$sm} {
        font-size: 1.4rem;
        margin-bottom: 0;
      }
    }

    &-description {
      font-size: 18px;
      line-height: 1.8;
      color: $primaryTitleColor;
      text-transform: capitalize;
    }

    &_inner {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }

    .links {
      color: white;
      display: flex;
      font-size: 18px;
      font-weight: 600;
      display: flex;
      align-items: center;

      span {
        margin: 0 12px;
      }

      a {
        cursor: pointer;

        &:hover {
          color: $textHoverPrimary;
          opacity: 0.7;
        }

        &:last-child {
          color: $textHoverPrimary;
        }
      }

      img {
        height: 25px;
        width: 25px;
        filter: invert(1);
        margin-bottom: 2px;
        cursor: pointer;
      }
    }
  }
}
