@use "../utils" as *;

.bt-page-header-container {
  .bt-content {
    .bt-title {
      font-size: 40px;
      color: $primaryTextColor;

      @media #{$md,$sm,$sm} {
        font-size: 40px;
      }

      @media #{$sm} {
        font-size: 34px;
      }
    }

    .bt-description {
      font-size: 18px;
      line-height: 1.2;
      color: $primaryTitleColor;
    }
  }

  .add-story-btn {
    color: white;
    background: linear-gradient(142.4deg,
        rgb(195, 101, 218) 5%,
        rgb(156, 110, 206) 28.2%,
        rgb(111, 119, 216) 62.5%,
        rgb(93, 97, 161) 89.1%);
    font-weight: 500;
    font-size: 16px;
    border-radius: 30px;
    display: inline-block;
    padding: 0 12px;
    height: 40px;
    line-height: 40px;
    width: fit-content;
    margin: 20px 0;

    &:hover {
      opacity: 0.7;
    }
  }
}