@use "../utils" as *;

/* ------------------------------------------ */
/*  35 - genres css  */
/* ------------------------------------------ */

.bb-genres-tab-bar {
  display: flex;
  gap: 0 5px;

  span {
    width: 3px;
    height: 15px;
    background: var(--clr-border-1);
  }
}

.bb-genres-tab {
  display: flex;
  gap: 0 10px;

  @media #{$sm} {
    margin-top: 10px;
  }
}

.bb-genres-tab {
  li button {
    background: transparent !important;
    border: 1px solid var(--clr-border-1) !important;
    border-radius: 4px;
    padding: 10px;

    &.active {
      background: var(--clr-border-1) !important;
      border-radius: 4px;

      .bb-genres-tab-bar {
        span {
          background: var(--clr-bg-1);
        }
      }
    }
  }
}

.bb-genres-select {
  .nice-select {
    background-color: transparent;
    display: inline-block;

    .list {
      background-color: var(--clr-bg-4);
    }

    &::after {
      border-bottom: 2px solid var(--clr-common-body-text);
      border-right: 2px solid var(--clr-common-body-text);
      height: 8px;
      margin-top: -6px;
      width: 8px;
    }
  }

  .bb-nice-select {
    .current {
      font-weight: 600;
      font-size: 16px;
      color: var(--clr-text-5);
    }
  }
}

.bb-genres-text {
  color: var(--clr-text-5);
}

.bb-genres-item {
  background: rgba(24, 24, 24, 0.5);
  border: 1px solid var(--clr-border-1);
  border-radius: 15px;
  padding: 25px;

  @media #{$sm} {
    padding: 20px;
  }
}

.genres-img-214 {
  min-width: 214px;
}

.bb-genres-flex {
  display: grid;
  align-items: center;
  grid-template-columns: 30% auto;
  gap: 30px 20px;

  @media #{$lg} {
    grid-template-columns: 44% auto;
  }

  @media #{$sm, $sm} {
    grid-template-columns: auto;
  }
}

.bb-genres-title {
  font-size: 20px;
  color: var(--clr-common-white);
  margin-bottom: 20px;
  padding-inline-end: 45px;
  @include transition(0.3s);

  &:hover {
    color: #a76cd1;
  }
}

.bb-genres-img {
  position: relative;
  @include transition(0.5s);
  width: 100%;

  img {
    @include transform(scale(1.01));
    @include transition(0.3s);
    width: 100%;
    min-height: 200px;
    object-fit: cover;
  }

  &:hover {
    img {
      @include transform(scale(1.06));
    }
  }

  .popup-video {
    opacity: 0;
    visibility: hidden;
  }
}

.bb-genres-star {
  position: absolute;
  inset-inline-end: 0;
  font-size: 20px;
  color: #6267b2;
  border: 1px solid var(--clr-border-1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  top: -10px;

  &.active {
    background: #a76cd1;
    color: var(--clr-common-white);

    i {
      font-weight: bold;
    }
  }
}

.bb-genres-price {
  color: var(--clr-bg-4);
  font-weight: 500;
  position: absolute;
  background: var(--clr-bg-3);
  display: inline-block;
  padding: 5px 5px;
  transform: rotate(52deg);
  top: 26px;
  text-align: center;
  inset-inline-end: -46px;
  min-width: 170px;

  @include rtl {
    transform: rotate(-52deg);
  }
}

.bb-genres-video {
  width: 46px;
  height: 46px;
  display: inline-block;
  background: var(--clr-bg-1);
  line-height: 48px;
  border-radius: 50%;
  color: var(--clr-bg-4);
  text-align: center;
  position: absolute;
  bottom: 20px;
  inset-inline-start: 20px;
  padding-inset-inline-start: 4px;
  @include transition(0.3s);

  &:hover {
    background: #a76cd1;
    color: var(--clr-common-white);
  }
}

.bb-fun-brand-bottom.bb-genres-rating {
  @media #{$lg} {
    flex-direction: column;
    flex-wrap: wrap;
    @include border-radius(15px);

    .bb-fun-brand-rating {
      padding-inline-start: 0;
      margin-inline-start: 0;

      &::after {
        display: none;
      }
    }
  }
}

.bb-genres-area {
  .bb-fun-brand-rating i {
    margin: 0px 4px;
  }
}

// genres details area

.bb-genres-tab2-padding {
  padding: 35px 40px 10px 40px;

  @media #{$sm} {
    padding: 35px 20px 10px 20px;
  }
}

.bb-genres-tab2-text {
  .btns-wrapper {
  :nth-child(2){
    margin-left: 10px;
  }

    .translation-btn {
      font-weight: 500;
      font-size: 16px;
      border-radius: 30px;
      display: inline-block;
      padding: 0 12px;
      height: 40px;
      line-height: 40px;
      border: 1px solid rgb(156, 110, 206);
      color: white;
    }

    .generate-btn {
      font-weight: 500;
      font-size: 16px;
      border-radius: 30px;
      display: inline-block;
      padding: 0 12px;
      height: 40px;
      line-height: 40px;
      border: 1px solid rgb(156, 110, 206);
      color: white;
      background: linear-gradient(
        142.4deg,
        rgb(195, 101, 218) 5%,
        rgb(156, 110, 206) 28.2%,
        rgb(111, 119, 216) 62.5%,
        rgb(93, 97, 161) 89.1%
      );
    }
  }

  .bb-singer-couplet {
    color: white;
  }

  h2 {
    font-style: italic;
    font-weight: 500;
    font-size: 26px;
    color: var(--clr-text-5);
    line-height: 1.6;

    @media #{$sm,$sm} {
      font-size: 24px;
    }

    @media #{$sm} {
      font-size: 20px;
    }
  }

  p {
    margin-bottom: 25px;
  }
}

.add-enquiry-btn {
  .bb-border-btn {
    i {
      color: #a76cd1;
    }

    &:hover {
      i {
        color: var(--clr-common-white);
      }
    }
  }
}

.bb-genres-review-btn {
  .bb-border-btn {
    color: var(--clr-common-body-text);
    padding: 0 28px;

    i {
      color: var(--clr-common-body-text);
    }

    &:hover {
      color: var(--clr-common-white);

      i {
        color: var(--clr-common-white);
      }
    }
  }
}

.bb-genres-audio {
  display: block;

  .jp-gui {
    width: 100%;
  }

  .jp-playlist {
    width: 100%;
  }

  .jp-playlist ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    width: 100%;
    gap: 20px 30px;
    margin-bottom: 30px;

    @media #{$md} {
      grid-template-columns: repeat(2, 1fr);
    }

    @media #{$sm,$sm} {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .jp-playlist ul li {
    list-style: none;
  }

  .jp-playlist-item {
    position: relative;
    padding-inline-start: 45px;

    &::before {
      position: absolute;
      content: "\f04b";
      width: 30px;
      height: 30px;
      border: 1px solid #414141;
      inset-inline-start: 0;
      border-radius: 50%;
      font-family: var(--bd-ff-fontawesome);
      font-weight: 700;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
    }
  }

  .bb-header2-song .jp-type-playlist {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }

  .jp-state-playing {
    .jp-playlist-item.jp-playlist-current::before {
      content: "\f04c";
    }
  }

  .jp-controls-holder {
    @media #{$sm,$sm} {
      flex-direction: column;
      width: 100%;
    }
  }

  .jp-gui {
    @media #{$sm,$sm} {
      flex-direction: column;
      width: 100%;
    }
  }
}

.bb-genres-review-img {
  width: 182px;
  height: 182px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.bb-genres-review-title {
  font-size: 18px;
  color: var(--clr-text-5);
  margin-bottom: 20px;
}

.bb-genres-review-grid {
  display: grid;
  grid-template-columns: 29% auto;
  gap: 20px 0;

  @media #{$lg} {
    grid-template-columns: 40% auto;
  }

  @media #{$md} {
    grid-template-columns: 36% auto;
  }

  @media #{$sm, $sm} {
    grid-template-columns: auto;
  }
}

.bb-genres-filter {
  .nice-select {
    padding-inline-end: 20px;
  }
}

.bb-fun-brand-text.lh-1 {
  padding-top: 7px;
}

.bb-genres-info-img {
  top: 0;
  bottom: 0;
  z-index: -1;
  right: 0;
  width: 100%;
}

.bb-genres-info-list {
  display: grid;
  grid-template-columns: 50% 50%;
  border-top: 1px solid #353535;
  align-items: center;
  padding: 25px 30px;

  @media #{$sm} {
    padding: 20px 20px;
    grid-template-columns: 40% 60%;
  }

  h6 {
    font-size: 16px;
    color: var(--clr-text-5);
    font-weight: 600;
  }

  p {
    margin-bottom: 0;
  }
}

.bb-genres-info-title {
  padding: 25px 30px;
  line-height: 1;
  margin-bottom: 0;

  @media #{$sm} {
    padding: 25px 20px;
  }
}

.bb-social {
  .public-btn,
  .private-btn {
    color: white;
    background: linear-gradient(
      142.4deg,
      rgb(195, 101, 218) 5%,
      rgb(156, 110, 206) 28.2%,
      rgb(111, 119, 216) 62.5%,
      rgb(93, 97, 161) 89.1%
    );
    font-weight: 500;
    font-size: 16px;
    border-radius: 30px;
    display: inline-block;
    padding: 0 12px;
    height: 40px;
    line-height: 40px;
    margin: 0 0 0 16px;
    border: 1px solid transparent;

    &:hover {
      opacity: 0.7;
      border: 1px solid rgb(156, 110, 206);
      color: black;
    }
  }
}

.bb-social-text {
  font-weight: 500;
  font-size: 16px;
  color: var(--clr-common-body-text);
  display: inline-block;
}

.bb-like-nav-gap {
  gap: 0 15px;
}

.bb-genres-review-content {
  @media #{$lg} {
    .bb-fun-brand-bottom {
      flex-direction: row;

      .bb-fun-brand-rating {
        padding-inline-start: 15px;
        margin-inline-start: 20px;

        &::after {
          display: block;
        }
      }
    }
  }
}

.bb-tab-button.nav-tabs .nav-link {
  margin-bottom: 20px;
}

// Enquiry list CSS
.bb-genres-item-box {
  background: rgba(24, 24, 24, 0.5);
  border: 1px solid var(--clr-border-1);
  border-radius: 15px;
  padding: 40px;

  @media #{$sm} {
    padding: 20px;
  }
}

.bb-genres-grid {
  display: grid;
  grid-template-columns: 213px auto;
  gap: 30px;

  @media #{ $lg, $md, $sm, $sm} {
    grid-template-columns: 265px auto;
  }

  @media #{$sm, $sm} {
    grid-template-columns: auto;
  }
}

.bb-genres2-item {
  padding-bottom: 30px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.bb-genres2-content {
  padding-inline-end: 100px;

  @media #{ $lg, $md, $sm, $sm} {
    padding-inline-end: 50px;
  }
}

.bb-genres2-title {
  margin-bottom: 15px;
  font-size: 20px;
  color: var(--clr-common-white);
  @include transition(0.3s);

  &:hover {
    color: #a76cd1;
  }
}

// date picker css
.bb-enquiry-date {
  input {
    background: var(--clr-bg-2);
    border: 1px solid var(--clr-border-3);
    border-radius: 32.5px;
    max-width: 235px;
    height: 65px;
    padding-inline-start: 70px;
    color: var(--clr-common-body-text);
    padding-top: 4px;

    &::-moz-placeholder {
      color: var(--clr-common-body-text);
    }

    &::placeholder {
      color: var(--clr-common-body-text);
    }
  }

  i {
    color: var(--clr-common-body-text);
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    inset-inline-start: 35px;
  }
}

// Ideas Advice CSS
.bb-ideas-item-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 55px 24px;

  @media #{$sm, $sm} {
    grid-template-columns: auto;
  }
}

.bb-ideas-img {
  overflow: hidden;

  img {
    @include transition(0.3s);
  }

  &:hover {
    img {
      @include transform(scale(1.05));
    }
  }
}

.bb-title4 {
  color: white;
}

.bb-ideas-item {
  .bb-title3 {
    @include transition(0.3s);
    font-size: 19px;

    &:hover {
      color: #a76cd1;
    }
  }
}

// update
.bb-genres-nice-select {
  display: flex;
  gap: 5px;
  align-items: center;

  .bb-nice-select {
    .nice-select .list .option:hover,
    .nice-select .list .option.focus,
    .nice-select .list .option.selected.focus {
      background-color: black;
    }
  }
}

.bb-genres-nice-select-two {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;

  @media #{$sm, $sm} {
    justify-content: start;
  }
}
