@use "../utils" as *;

.bb-choose {
  &__area {
    padding: 30px 0;

    @media #{$sm} {
      .container {
        padding: 0;
      }
    }
  }

  &__faqArea {
    padding: 30px 0;
  }

  &__item {
    padding: 20px;
    border: 1px solid var(--clr-border-1);
    border-radius: 15px;
    @include transition(0.3s);

    @media #{$sm} {
      margin: 0 0 20px;

      & > div {
        flex-direction: column;
      }
    }

    &:hover {
      border-color: var(--clr-common-white);
    }

    &-icon {
      background: var(--clr-border-1);
      width: 70px;
      height: 70px;
      line-height: 70px;
      border-radius: 50%;
      text-align: center;
      margin-right: 20px;
      @include transition(0.3s);

      @media #{$sm} {
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin-bottom: 20px;
      }

      i {
        color: var(--clr-common-white);
        font-size: 25px;
        top: 7px;
      }

      span {
        position: absolute;
        top: 10px;
        inset-inline-end: -8px;
        font-weight: 600;
        font-size: 12px;
        background: var(--clr-bg-1);
        width: 22px;
        height: 22px;
        line-height: 22px;
        border-radius: 50%;
        color: var(--clr-common-black);
      }
    }

    &-title {
      font-weight: 500;
      font-size: 18px;
      color: var(--clr-text-3);
      line-height: 1.5;

      @media #{$sm} {
        text-align: center;
      }
    }

    &-text {
      font-weight: 400;
      font-size: 16px;
      color: var(--clr-text-3);
      line-height: 1.7;
      margin-top: 20px;
    }
  }
}
