@use "../utils" as *;

.bb-contact {
  &__area {
    padding: 30px 0;

    @media #{$sm} {
      .container {
        padding: 0;
      }
    }
  }

  &__input-box {
    margin-bottom: 30px;
    position: relative;

    input,
    select,
    textarea {
      width: 100%;
      background: #1b1b1b;
      border: 1px solid var(--clr-border-3);
      border-radius: 16px;
      height: 65px;
      color: var(--clr-text-8);
      padding: 0 12px;
      @include transition(0.3s);
      resize: none;

      @media #{$sm} {
        padding: 0 20px;
      }

      &:focus {
        border: 1px solid var(--clr-border-2);
      }
    }

    textarea {
      resize: none;
      outline: 0;
      padding: 20px 12px;
      min-height: 175px;
      border-radius: 16px;

      @media #{$sm} {
        padding: 20px 20px;
      }

      &:focus {
        border: 1px solid var(--clr-border-2);
      }
    }
  }
}
