$primaryTextColor: #fff;
$secondary1TextColor: #a76cd1;
$secondary2TextColor: #a76cd1;

$primaryTitleColor: #fff;
$secondaryTitleColor: #aeaeae;

$bgPrimary: #181818;
$bgSecondary: white;
$bgHeader: #000;

$bgDarkHover: #a76cd1;

$bgFilter: #160c40;
$bgSocialIcons: #4d2c64;

$bgChooseCard: #212529;
$bgChooseCardIcon: #030214;
$bgChooseDescription: #929ca5;

$borderPrimary: #414141;
$borderSecondary: #9c6ece;
$borderFeatureColor: grey;
$borderInput: #353a3e;
$borderFocused: white;

$textColorPrimary: white;
$textHoverPrimary: #a76cd1;
$textColorSecondary: #b46add;

$descriptionColorSecondary: #ccc;

$shadowPrimaryColor: rgba(3, 4, 28, 0.1);
$shadowSecondaryColor: #a76cd1;

$accountContentBg: #181818;
$accountTabActiveColor: #a76cd1;

$songDetailsBg: #212529;

$userSettingsMobileBg: #212529;
$userSettingsMobileBorderColor: grey;
