$primaryTextColor: #fff;
$secondary1TextColor: #a76cd1;
$secondary2TextColor: #a76cd1;

$primaryTitleColor: #fff;
$secondaryTitleColor: #aeaeae;

$bgPrimary: #181818;
$bgSecondary: white;

$bgDarkHover: #a76cd1;

$bgSocialIcons: #4d2c64;

$borderPrimary: #414141;

$textColorPrimary: white;
$textHoverPrimary: #a76cd1;
