$primaryTextColor: #fff;
$secondary1TextColor: #a76cd1;
$secondary2TextColor: #a76cd1;

$primaryTitleColor: #fff;
$secondaryTitleColor: #aeaeae;

$bgPrimary: #181818;
$bgSecondary: white;
$bgHeader: #000;

$bgDarkHover: #a76cd1;

$bgSocialIcons: #4d2c64;

$borderPrimary: #414141;
$borderSecondary:#9c6ece;
$borderFeatureColor: grey;

$textColorPrimary: white;
$textHoverPrimary: #a76cd1;

$textColorSecondary:#b46add;



$shadowPrimaryColor:rgba(3, 4, 28, 0.1);
$shadowSecondaryColor:#a76cd1;
